In [1]:
from IPython.display import display
import pyarrow.parquet as pq
import pandas as pd

In [2]:
trajactory_df = pq.ParquetDataset('data/2022-01-01.parquet').read().to_pandas()

display(trajactory_df.head())

,flight_id,timestamp,latitude,longitude,altitude,groundspeed,track,vertical_rate,track_unwrapped,u_component_of_wind,v_component_of_wind,temperature,specific_humidity,icao24
0,248763780,2022-01-01 14:04:41+00:00,51.477651,-0.443802,25.0,157.0,271.859599,1216.0,271.859599,NaN,NaN,NaN,NaN,248763780
1,248763780,2022-01-01 14:04:42+00:00,51.477651,-0.443802,25.0,157.0,271.859599,1216.0,271.859599,NaN,NaN,NaN,NaN,248763780
2,248763780,2022-01-01 14:04:43+00:00,51.477651,-0.443802,25.0,157.0,271.859599,1216.0,271.859599,NaN,NaN,NaN,NaN,248763780
3,248763780,2022-01-01 14:04:44+00:00,51.477651,-0.443802,25.0,157.0,271.859599,1216.0,271.859599,NaN,NaN,NaN,NaN,248763780
4,248763780,2022-01-01 14:04:45+00:00,51.477651,-0.443802,25.0,157.0,271.859599,1216.0,271.859599,NaN,NaN,NaN,NaN,248763780

In [3]:
print("Number of rows in trajactory_df:", len(trajactory_df))

unique_count = trajactory_df['flight_id'].nunique()
print("Number of unique flight_id values:", unique_count)

unique_count = trajactory_df['icao24'].nunique()
print("Number of unique icao24 values:", unique_count)

Number of rows in trajactory_df: 5513004
Number of unique flight_id values: 781
Number of unique icao24 values: 781

In [4]:
challenge_set_df = pd.read_csv('data/challenge_set.csv')

display(challenge_set_df.head())

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248763780,2022-01-01,3840d84f25d3f5fcc0a1be3076bb4039,EGLL,London Heathrow,GB,EICK,Cork,IE,2022-01-01T13:46:00Z,2022-01-01T15:04:56Z,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.000000
1,248760618,2022-01-01,f6f610e73002b8892a239a81321f7f1d,LEBL,Barcelona,ES,KMIA,Miami,US,2022-01-01T09:55:00Z,2022-01-01T19:37:56Z,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,4193,185441.000000
2,248753824,2022-01-01,139670936660762c230ca92556ba842b,ESSA,Stockholm Arlanda,SE,KORD,Chicago O'Hare,US,2022-01-01T09:39:00Z,2022-01-01T19:08:13Z,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,3770,230396.000000
3,248753852,2022-01-01,509dc61bb54fbab0e5406067c95603e2,LSZH,Zurich,CH,KPHL,Philadelphia,US,2022-01-01T11:04:00Z,2022-01-01T19:32:13Z,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,3607,157615.000000
4,248755934,2022-01-01,d0610d000dcf26b1d7bba8103ecc393d,EIDW,Dublin,IE,EGLL,London Heathrow,GB,2022-01-01T12:36:00Z,2022-01-01T13:44:32Z,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,305,70318.447226

In [10]:
print("Number of rows in challenge_set_df:", len(challenge_set_df))

unique_count = challenge_set_df['flight_id'].nunique()
print("Number of unique flight_id values:", unique_count)

result = challenge_set_df[challenge_set_df['flight_id'] == 248763780]
display(result)

unique_values = challenge_set_df['wtc'].unique()
print("Number of unique values of wake turbulence categories wtc: ", unique_values)

Number of rows in challenge_set_df: 369013
Number of unique flight_id values: 369013

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248763780,2022-01-01,3840d84f25d3f5fcc0a1be3076bb4039,EGLL,London Heathrow,GB,EICK,Cork,IE,2022-01-01T13:46:00Z,2022-01-01T15:04:56Z,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.0

Number of unique values of wake turbulence categories wtc:  ['M' 'H']

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248763780,2022-01-01,3840d84f25d3f5fcc0a1be3076bb4039,EGLL,London Heathrow,GB,EICK,Cork,IE,2022-01-01T13:46:00Z,2022-01-01T15:04:56Z,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,321,54748.000000
4,248755934,2022-01-01,d0610d000dcf26b1d7bba8103ecc393d,EIDW,Dublin,IE,EGLL,London Heathrow,GB,2022-01-01T12:36:00Z,2022-01-01T13:44:32Z,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,305,70318.447226
6,248758528,2022-01-01,1f51e76bb1001c4f9de991288aacb326,EGAC,Belfast City,GB,EGLL,London Heathrow,GB,2022-01-01T07:41:00Z,2022-01-01T08:48:19Z,A320,M,a73f82288988b79be490c6322f4c32ed,57,10,295,56818.000000
16,248754389,2022-01-01,6749e723f22c0e5bba36a55354f36d9f,EGKK,London Gatwick,GB,EIDW,Dublin,IE,2022-01-01T19:39:00Z,2022-01-01T20:46:31Z,A320,M,a73f82288988b79be490c6322f4c32ed,48,20,268,51730.000000
23,248753751,2022-01-01,d1a95c2c0a43c34472b5559c55bab3c2,EGPF,Glasgow,GB,EIDW,Dublin,IE,2022-01-01T08:21:00Z,2022-01-01T09:12:08Z,A320,M,a73f82288988b79be490c6322f4c32ed,40,11,173,50809.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368962,258063658,2022-12-31,7cfa52dace76e489997022c7fd845ac8,EIDW,Dublin,IE,KMCO,Orlando,US,2022-12-31T14:07:00Z,2022-12-31T23:06:56Z,A333,H,a73f82288988b79be490c6322f4c32ed,522,18,3607,218669.023981
369001,258059524,2022-12-31,2d6ce26990482609a1ba7916c7fec27b,LSGG,Geneva,CH,EIDW,Dublin,IE,2022-12-31T09:16:00Z,2022-12-31T11:27:51Z,A320,M,a73f82288988b79be490c6322f4c32ed,119,13,687,63817.085363
369002,258066825,2022-12-31,0565942e10e73c0982636a0b705e401e,EBBR,Brussels,BE,EIDW,Dublin,IE,2022-12-31T09:30:00Z,2022-12-31T11:02:14Z,A320,M,a73f82288988b79be490c6322f4c32ed,81,11,438,48498.000000
369010,258059152,2022-12-31,5a7e43e4f981539ae3d3b1cb31591b7c,EDDL,Dusseldorf,DE,EIDW,Dublin,IE,2022-12-31T09:52:00Z,2022-12-31T11:41:51Z,A320,M,a73f82288988b79be490c6322f4c32ed,99,11,522,62942.750000
369011,258072276,2022-12-31,a1c078516f9f9e90cacec61854cad45b,LFPG,Paris Charles de Gaulle,FR,EIDW,Dublin,IE,2022-12-31T09:37:00Z,2022-12-31T11:13:10Z,A21N,M,a73f82288988b79be490c6322f4c32ed,84,12,466,72611.161024

In [6]:
submission_set_df = pd.read_csv('data/submission_set.csv')

display(submission_set_df.head())

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,2022-01-01,3b3de0f3ad0ee192513995c02f7bf7cf,LTFJ,Istanbul Sabiha Gokcen,TR,LFLL,Lyon,FR,2022-01-01T09:44:00Z,2022-01-01T12:48:33Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,NaN
1,248753822,2022-01-01,e06dd03d4a879ca37d9e18c1bd7cad16,EBBR,Brussels,BE,KJFK,New York JFK,US,2022-01-01T09:45:00Z,2022-01-01T17:49:51Z,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,NaN
2,248754498,2022-01-01,2d3b1c962c78c4ebeef11bcd51b9e94c,KMIA,Miami,US,EGLL,London Heathrow,GB,2022-01-01T01:52:00Z,2022-01-01T09:55:16Z,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,NaN
3,248757623,2022-01-01,81564432d3ee97c4bdf4cd8f006753dc,EGCN,Doncaster Sheffield,GB,LEAL,Alicante,ES,2022-01-01T08:20:00Z,2022-01-01T11:06:08Z,B38M,M,3922524069809ac4326134429751e26f,156,10,986,NaN
4,248763603,2022-01-01,84be079d7e660db105d91f600b4b3d59,EIDW,Dublin,IE,LFLL,Lyon,FR,2022-01-01T11:01:00Z,2022-01-01T13:00:43Z,A320,M,a73f82288988b79be490c6322f4c32ed,105,15,686,NaN

In [9]:
print("Number of rows in submission_set_df:", len(submission_set_df))

unique_count = submission_set_df['flight_id'].nunique()
print("Number of unique flight_id values:", unique_count)

unique_values = submission_set_df['wtc'].unique()
print("Number of unique values of wake turbulence categories wtc: ", unique_values)

Number of rows in submission_set_df: 105959
Number of unique flight_id values: 105959
Number of unique values of wake turbulence categories wtc:  ['M' 'H']

<h1>11 Columns</h1>

<h3>7 Categorical Features</h3>
<p>adep, country_code_adep, ades, country_code_ades, aircraft_type, wtc, airline</p>
<h3>3 Numerical Features</h3>
<p>flight_duration, taxiout_time, flown_distance</p>

<h3>1 Numerical Target</h3>
<p>tow</p>