<h3>Encoding</h3>

In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import json

In [3]:
columns = [
    'flight_id',
    'month-day',
    'month',
    'day_in_month',
    'adep', 
    'country_code_adep', 
    'ades', 
    'country_code_ades', 
    'aircraft_type', 
    'wtc', 
    'airline', 
    'flight_duration', 
    'taxiout_time', 
    'flown_distance', 
    'actual_offblock_time_hour', 
    'actual_offblock_time_minute', 
    'actual_offblock_time_hour_minute', 
    'arrival_time_hour', 
    'arrival_time_minute', 
    'arrival_time_hour_minute', 
    'latitude_median', 
    'longitude_median', 
    'altitude_mean', 
    'groundspeed_mean', 
    'track_mean', 
    'vertical_rate_mean', 
    'track_unwrapped_mean', 
    'u_component_of_wind_mean', 
    'v_component_of_wind_mean', 
    'temperature_mean', 
    'specific_humidity_mean',
    'tow'
]

In [ ]:
challenge_set = pd.read_csv('../../data/challenge_set_with_trajectory.csv')

# Split date into 2 columns, year is not important since it is the same in the entire dataset 2022
challenge_set['date'] = pd.to_datetime(challenge_set['date'])
challenge_set['month-day'] = challenge_set['date'].dt.strftime('%m-%d')
challenge_set['month'] = challenge_set['date'].dt.strftime('%m').astype(int)
challenge_set['day_in_month'] = challenge_set['date'].dt.strftime('%d').astype(int)

# Convert the column to datetime type
challenge_set['actual_offblock_time'] = pd.to_datetime(challenge_set['actual_offblock_time'])
# Extract hour, minute, and create combined hour:minute column
challenge_set['actual_offblock_time_hour'] = challenge_set['actual_offblock_time'].dt.hour
challenge_set['actual_offblock_time_minute'] = challenge_set['actual_offblock_time'].dt.minute
challenge_set['actual_offblock_time_hour_minute'] = challenge_set['actual_offblock_time'].dt.strftime('%H:%M')

# Convert the column to datetime type
challenge_set['arrival_time'] = pd.to_datetime(challenge_set['arrival_time'])
# Extract hour, minute, and create combined hour:minute column
challenge_set['arrival_time_hour'] = challenge_set['arrival_time'].dt.hour
challenge_set['arrival_time_minute'] = challenge_set['arrival_time'].dt.minute
challenge_set['arrival_time_hour_minute'] = challenge_set['arrival_time'].dt.strftime('%H:%M')

challenge_features = challenge_set[columns]

display(challenge_features)

save_dataframe(path="../../data/challenge_set_experiment_1.csv", df=encoded_challenge_set)

In [4]:
submission_set = pd.read_csv('../../data/submission_set_with_trajectory.csv')

# Split date into 2 columns, year is not important since it is the same in the entire dataset 2022
submission_set['date'] = pd.to_datetime(submission_set['date'])
submission_set['month-day'] = submission_set['date'].dt.strftime('%m-%d')
submission_set['month'] = submission_set['date'].dt.strftime('%m').astype(int)
submission_set['day_in_month'] = submission_set['date'].dt.strftime('%d').astype(int)

# Convert the column to datetime type
submission_set['actual_offblock_time'] = pd.to_datetime(submission_set['actual_offblock_time'])
# Extract hour, minute, and create combined hour:minute column
submission_set['actual_offblock_time_hour'] = submission_set['actual_offblock_time'].dt.hour
submission_set['actual_offblock_time_minute'] = submission_set['actual_offblock_time'].dt.minute
submission_set['actual_offblock_time_hour_minute'] = submission_set['actual_offblock_time'].dt.strftime('%H:%M')

# Convert the column to datetime type
submission_set['arrival_time'] = pd.to_datetime(submission_set['arrival_time'])
# Extract hour, minute, and create combined hour:minute column
submission_set['arrival_time_hour'] = submission_set['arrival_time'].dt.hour
submission_set['arrival_time_minute'] = submission_set['arrival_time'].dt.minute
submission_set['arrival_time_hour_minute'] = submission_set['arrival_time'].dt.strftime('%H:%M')

submission_features = submission_set[columns]

display(submission_features)

,flight_id,month-day,month,day_in_month,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,...,altitude_mean,groundspeed_mean,track_mean,vertical_rate_mean,track_unwrapped_mean,u_component_of_wind_mean,v_component_of_wind_mean,temperature_mean,specific_humidity_mean,tow
0,248753821,01-01,1,1,LTFJ,TR,LFLL,FR,B738,M,...,33188.313883,420.959804,282.808153,175.331666,282.808153,2.832943,-24.641557,219.596603,0.000152,NaN
1,248753822,01-01,1,1,EBBR,BE,KJFK,US,A333,H,...,32583.842964,396.773194,260.807718,-16.987908,260.807718,34.618718,11.034940,225.815537,0.000547,NaN
2,248754498,01-01,1,1,KMIA,US,EGLL,GB,B77W,H,...,22116.996137,430.803681,88.140047,-20.213588,49.203442,21.846468,25.232590,244.716348,0.001122,NaN
3,248757623,01-01,1,1,EGCN,GB,LEAL,ES,B38M,M,...,30159.995122,358.478244,173.338410,-78.997854,173.338410,16.119310,11.120445,226.034554,0.000542,NaN
4,248763603,01-01,1,1,EIDW,IE,LFLL,FR,A320,M,...,28515.134491,401.131767,140.981972,254.485529,134.567263,24.612074,24.603707,231.581341,0.000491,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,12-31,12,31,LTFJ,TR,EKCH,DK,B38M,M,...,33796.791745,374.838499,300.444819,-48.212533,323.220053,21.671881,-16.838615,216.294734,0.000183,NaN
105955,258068609,12-31,12,31,LOWW,AT,KIAD,US,B763,H,...,28865.208298,377.312504,278.020583,-14.281511,278.020583,41.461469,16.649501,228.145188,0.000676,NaN
105956,258068876,12-31,12,31,LTFM,TR,LSZH,CH,A321,M,...,32501.214079,387.655081,287.267163,-112.362177,287.267163,9.114682,-17.039006,219.970819,0.000444,NaN
105957,258064675,12-31,12,31,EHAM,NL,EDDF,DE,A320,M,...,11400.762440,323.355484,170.146884,-14.588067,170.146884,31.063791,8.720314,262.451712,0.003364,NaN
105958,258058370,12-31,12,31,UBBB,AZ,LTFM,TR,B738,M,...,37661.761640,409.672342,274.014452,-242.034746,274.014452,13.393231,4.636990,209.108357,0.000014,NaN

In [5]:
# Append df2 to df1
df_combined = pd.concat([challenge_features, submission_features], ignore_index=True)

# Reset the index
df_combined.reset_index(drop=True, inplace=True)

display(df_combined)

,flight_id,month-day,month,day_in_month,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,...,altitude_mean,groundspeed_mean,track_mean,vertical_rate_mean,track_unwrapped_mean,u_component_of_wind_mean,v_component_of_wind_mean,temperature_mean,specific_humidity_mean,tow
0,248763780,01-01,1,1,EGLL,GB,EICK,IE,A320,M,...,20996.873271,317.161594,266.904445,12.768124,266.904445,31.354330,28.956784,244.875034,0.001527,54748.000000
1,248760618,01-01,1,1,LEBL,ES,KMIA,US,B772,H,...,30316.293173,425.555502,253.416154,66.719357,254.283623,21.483643,-8.009300,227.431051,0.000523,185441.000000
2,248753824,01-01,1,1,ESSA,SE,KORD,US,A333,H,...,28087.460730,346.017174,234.214404,-35.945267,226.498682,28.988018,5.062526,225.055003,0.000467,230396.000000
3,248753852,01-01,1,1,LSZH,CH,KPHL,US,B788,H,...,31606.355298,405.077422,260.254022,80.900909,177.655929,32.200133,2.404330,227.891101,0.000931,157615.000000
4,248755934,01-01,1,1,EIDW,IE,EGLL,GB,A21N,M,...,14895.710572,354.972270,131.665419,2754.662045,131.665419,22.697229,20.421709,255.205584,0.001545,70318.447226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474967,258066302,12-31,12,31,LTFJ,TR,EKCH,DK,B38M,M,...,33796.791745,374.838499,300.444819,-48.212533,323.220053,21.671881,-16.838615,216.294734,0.000183,NaN
474968,258068609,12-31,12,31,LOWW,AT,KIAD,US,B763,H,...,28865.208298,377.312504,278.020583,-14.281511,278.020583,41.461469,16.649501,228.145188,0.000676,NaN
474969,258068876,12-31,12,31,LTFM,TR,LSZH,CH,A321,M,...,32501.214079,387.655081,287.267163,-112.362177,287.267163,9.114682,-17.039006,219.970819,0.000444,NaN
474970,258064675,12-31,12,31,EHAM,NL,EDDF,DE,A320,M,...,11400.762440,323.355484,170.146884,-14.588067,170.146884,31.063791,8.720314,262.451712,0.003364,NaN
474971,258058370,12-31,12,31,UBBB,AZ,LTFM,TR,B738,M,...,37661.761640,409.672342,274.014452,-242.034746,274.014452,13.393231,4.636990,209.108357,0.000014,NaN

In [6]:
def encode(df: pd.DataFrame, categorical_columns: list[str]) -> pd.DataFrame:
    encoded_df = df.copy()
    label_encoder = LabelEncoder()

    for column in encoded_df.columns:
        if column in categorical_columns:     
            encoded_df[column] = label_encoder.fit_transform(df[column])
            
            if column == 'aircraft_type':
                aircraft_types_encoding = {encoded: original for original, encoded in zip(label_encoder.classes_, range(len(label_encoder.classes_)))}
                with open('../../data/aircraft_types_encoding.json', 'w') as json_file:
                    json.dump(aircraft_types_encoding, json_file, indent=4)

    
    return encoded_df

categorical_columns = [
    'month-day',
    'adep',
    'country_code_adep', 
    'ades', 
    'country_code_ades', 
    'aircraft_type', 
    'wtc', 
    'airline', 
    'actual_offblock_time_hour_minute', 
    'arrival_time_hour_minute'
]

encoded_df = encode(df=df_combined, categorical_columns=categorical_columns)

display(encoded_df)

,flight_id,month-day,month,day_in_month,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,...,altitude_mean,groundspeed_mean,track_mean,vertical_rate_mean,track_unwrapped_mean,u_component_of_wind_mean,v_component_of_wind_mean,temperature_mean,specific_humidity_mean,tow
0,248763780,0,1,1,69,37,79,34,4,1,...,20996.873271,317.161594,266.904445,12.768124,266.904445,31.354330,28.956784,244.875034,0.001527,54748.000000
1,248760618,0,1,1,216,33,165,78,18,0,...,30316.293173,425.555502,253.416154,66.719357,254.283623,21.483643,-8.009300,227.431051,0.000523,185441.000000
2,248753824,0,1,1,137,88,168,78,7,0,...,28087.460730,346.017174,234.214404,-35.945267,226.498682,28.988018,5.062526,225.055003,0.000467,230396.000000
3,248753852,0,1,1,338,19,169,78,21,0,...,31606.355298,405.077422,260.254022,80.900909,177.655929,32.200133,2.404330,227.891101,0.000931,157615.000000
4,248755934,0,1,1,92,44,58,27,1,1,...,14895.710572,354.972270,131.665419,2754.662045,131.665419,22.697229,20.421709,255.205584,0.001545,70318.447226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474967,258066302,364,12,31,384,96,85,20,11,1,...,33796.791745,374.838499,300.444819,-48.212533,323.220053,21.671881,-16.838615,216.294734,0.000183,NaN
474968,258068609,364,12,31,321,5,160,78,17,0,...,28865.208298,377.312504,278.020583,-14.281511,278.020583,41.461469,16.649501,228.145188,0.000676,NaN
474969,258068876,364,12,31,385,96,309,14,5,1,...,32501.214079,387.655081,287.267163,-112.362177,287.267163,9.114682,-17.039006,219.970819,0.000444,NaN
474970,258064675,364,12,31,85,73,18,19,4,1,...,11400.762440,323.355484,170.146884,-14.588067,170.146884,31.063791,8.720314,262.451712,0.003364,NaN
474971,258058370,364,12,31,439,7,337,75,14,1,...,37661.761640,409.672342,274.014452,-242.034746,274.014452,13.393231,4.636990,209.108357,0.000014,NaN

In [7]:
def separate_data(original_df: pd.DataFrame, index: int):
    encoded_challenge_set = original_df.iloc[:index].reset_index(drop=True)
    encoded_submission_set = original_df.iloc[index:].reset_index(drop=True)
    return encoded_challenge_set, encoded_submission_set

encoded_challenge_set, encoded_submission_set = separate_data(original_df=encoded_df, index=len(challenge_features))

display(encoded_challenge_set)

display(encoded_submission_set)

,flight_id,month-day,month,day_in_month,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,...,altitude_mean,groundspeed_mean,track_mean,vertical_rate_mean,track_unwrapped_mean,u_component_of_wind_mean,v_component_of_wind_mean,temperature_mean,specific_humidity_mean,tow
0,248763780,0,1,1,69,37,79,34,4,1,...,20996.873271,317.161594,266.904445,12.768124,266.904445,31.354330,28.956784,244.875034,0.001527,54748.000000
1,248760618,0,1,1,216,33,165,78,18,0,...,30316.293173,425.555502,253.416154,66.719357,254.283623,21.483643,-8.009300,227.431051,0.000523,185441.000000
2,248753824,0,1,1,137,88,168,78,7,0,...,28087.460730,346.017174,234.214404,-35.945267,226.498682,28.988018,5.062526,225.055003,0.000467,230396.000000
3,248753852,0,1,1,338,19,169,78,21,0,...,31606.355298,405.077422,260.254022,80.900909,177.655929,32.200133,2.404330,227.891101,0.000931,157615.000000
4,248755934,0,1,1,92,44,58,27,1,1,...,14895.710572,354.972270,131.665419,2754.662045,131.665419,22.697229,20.421709,255.205584,0.001545,70318.447226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369008,258058361,364,12,31,253,36,165,78,21,0,...,27520.238596,352.816281,258.075719,105.885193,258.075719,41.300959,34.816118,230.600595,0.001169,163438.000000
369009,258071247,364,12,31,385,96,15,19,1,1,...,31307.635402,358.665526,312.942321,-74.184695,312.942321,16.449682,-17.756664,222.159498,0.000440,78707.000000
369010,258059152,364,12,31,30,26,80,34,4,1,...,27064.704323,306.001767,278.353987,-246.922841,279.965484,48.607200,26.609141,229.831493,0.001106,62942.750000
369011,258072276,364,12,31,253,36,80,34,1,1,...,29506.571457,302.045249,299.062133,-271.516294,299.062133,45.752148,27.416125,225.945456,0.000713,72611.161024
369012,258069969,364,12,31,222,33,162,78,18,0,...,33049.457127,451.331570,301.079038,397.202673,301.079038,23.918405,29.032129,222.094395,0.000051,195373.000000

,flight_id,month-day,month,day_in_month,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,...,altitude_mean,groundspeed_mean,track_mean,vertical_rate_mean,track_unwrapped_mean,u_component_of_wind_mean,v_component_of_wind_mean,temperature_mean,specific_humidity_mean,tow
0,248753821,0,1,1,384,96,216,26,14,1,...,33188.313883,420.959804,282.808153,175.331666,282.808153,2.832943,-24.641557,219.596603,0.000152,NaN
1,248753822,0,1,1,17,11,162,78,7,0,...,32583.842964,396.773194,260.807718,-16.987908,260.807718,34.618718,11.034940,225.815537,0.000547,NaN
2,248754498,0,1,1,190,99,58,27,20,0,...,22116.996137,430.803681,88.140047,-20.213588,49.203442,21.846468,25.232590,244.716348,0.001122,NaN
3,248757623,0,1,1,61,37,189,24,11,1,...,30159.995122,358.478244,173.338410,-78.997854,173.338410,16.119310,11.120445,226.034554,0.000542,NaN
4,248763603,0,1,1,92,44,216,26,4,1,...,28515.134491,401.131767,140.981972,254.485529,134.567263,24.612074,24.603707,231.581341,0.000491,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,364,12,31,384,96,85,20,11,1,...,33796.791745,374.838499,300.444819,-48.212533,323.220053,21.671881,-16.838615,216.294734,0.000183,NaN
105955,258068609,364,12,31,321,5,160,78,17,0,...,28865.208298,377.312504,278.020583,-14.281511,278.020583,41.461469,16.649501,228.145188,0.000676,NaN
105956,258068876,364,12,31,385,96,309,14,5,1,...,32501.214079,387.655081,287.267163,-112.362177,287.267163,9.114682,-17.039006,219.970819,0.000444,NaN
105957,258064675,364,12,31,85,73,18,19,4,1,...,11400.762440,323.355484,170.146884,-14.588067,170.146884,31.063791,8.720314,262.451712,0.003364,NaN
105958,258058370,364,12,31,439,7,337,75,14,1,...,37661.761640,409.672342,274.014452,-242.034746,274.014452,13.393231,4.636990,209.108357,0.000014,NaN

In [4]:
def save_dataframe(path: str, df: pd.DataFrame) -> None:
    df.to_csv(path, index=False)
    print(f"{path} is saved!")

In [9]:
save_dataframe(path="../../data/encoded_challenge_set.csv", df=encoded_challenge_set)
save_dataframe(path="../../data/encoded_submission_set.csv", df=encoded_submission_set)

../../data/encoded_challenge_set.csv is saved!
../../data/encoded_submission_set.csv is saved!