In [1]:
import pandas as pd

In [2]:
submission_set_df = pd.read_csv('../PRC_data/submission_set.csv')

In [3]:
display(submission_set_df)

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,2022-01-01,3b3de0f3ad0ee192513995c02f7bf7cf,LTFJ,Istanbul Sabiha Gokcen,TR,LFLL,Lyon,FR,2022-01-01T09:44:00Z,2022-01-01T12:48:33Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,NaN
1,248753822,2022-01-01,e06dd03d4a879ca37d9e18c1bd7cad16,EBBR,Brussels,BE,KJFK,New York JFK,US,2022-01-01T09:45:00Z,2022-01-01T17:49:51Z,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,NaN
2,248754498,2022-01-01,2d3b1c962c78c4ebeef11bcd51b9e94c,KMIA,Miami,US,EGLL,London Heathrow,GB,2022-01-01T01:52:00Z,2022-01-01T09:55:16Z,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,NaN
3,248757623,2022-01-01,81564432d3ee97c4bdf4cd8f006753dc,EGCN,Doncaster Sheffield,GB,LEAL,Alicante,ES,2022-01-01T08:20:00Z,2022-01-01T11:06:08Z,B38M,M,3922524069809ac4326134429751e26f,156,10,986,NaN
4,248763603,2022-01-01,84be079d7e660db105d91f600b4b3d59,EIDW,Dublin,IE,LFLL,Lyon,FR,2022-01-01T11:01:00Z,2022-01-01T13:00:43Z,A320,M,a73f82288988b79be490c6322f4c32ed,105,15,686,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,2022-12-31,2d3b4446c4d05a25196a9d52cab936fb,LTFJ,Istanbul Sabiha Gokcen,TR,EKCH,Copenhagen,DK,2022-12-31T09:36:00Z,2022-12-31T13:12:17Z,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,1199,NaN
105955,258068609,2022-12-31,253fd692ed441fac523081471c067772,LOWW,Vienna,AT,KIAD,Washington Dulles,US,2022-12-31T09:49:00Z,2022-12-31T19:38:26Z,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,3937,NaN
105956,258068876,2022-12-31,c9fca302ca2e28acab0eb0bb1b46f11b,LTFM,iGA Istanbul,TR,LSZH,Zurich,CH,2022-12-31T09:25:00Z,2022-12-31T12:24:24Z,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,NaN
105957,258064675,2022-12-31,00f96ad0e382476649574ba044c764fc,EHAM,Amsterdam,NL,EDDF,Frankfurt,DE,2022-12-31T10:04:21Z,2022-12-31T10:55:35Z,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,NaN
105958,258058370,2022-12-31,5f0c222c7f7ceff3fbe75c854cce74c9,UBBB,Baku,AZ,LTFM,iGA Istanbul,TR,2022-12-31T09:40:00Z,2022-12-31T12:28:00Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,NaN

<h3>Drop the columns <strong>callsign, name_adep, and name_ades<strong/></h3>

In [4]:
submission_set_df = submission_set_df.drop(columns=['callsign', 'name_adep', 'name_ades'])

<h3>Split the <strong>date</strong> column into</h3>
<ul>
    <li>month_day</li>
    <li>month</li>
    <li>day</li>
</ul>
<h3>Drop the <strong>date</strong> columns</h3>

In [5]:
submission_set_df['date'] = pd.to_datetime(submission_set_df['date'])
submission_set_df['month_day'] = submission_set_df['date'].dt.strftime('%m-%d')  # Format to get month and day together
submission_set_df['month'] = submission_set_df['date'].dt.month  # Extract the month
submission_set_df['day'] = submission_set_df['date'].dt.day  # Extract the day

In [6]:
display(submission_set_df[['flight_id', 'date', 'month_day', 'month', 'day']])

        flight_id       date month_day  month  day
0       248753821 2022-01-01     01-01      1    1
1       248753822 2022-01-01     01-01      1    1
2       248754498 2022-01-01     01-01      1    1
3       248757623 2022-01-01     01-01      1    1
4       248763603 2022-01-01     01-01      1    1
...           ...        ...       ...    ...  ...
105954  258066302 2022-12-31     12-31     12   31
105955  258068609 2022-12-31     12-31     12   31
105956  258068876 2022-12-31     12-31     12   31
105957  258064675 2022-12-31     12-31     12   31
105958  258058370 2022-12-31     12-31     12   31

[105959 rows x 5 columns]

In [7]:
submission_set_df = submission_set_df.drop(columns=['date'])

<h3>Split the <strong>actual_offblock_time</strong> and <strong>arrival_time</strong> columns into</h3>
<ul>
    <li><strong>actual_offblock_time_hour_minute<strong/></li>
    <li><strong>actual_offblock_time_hour<strong/></li>
    <li><strong>actual_offblock_time_minute<strong/></li>
    <li><strong>arrival_time_hour_minute<strong/></li>
    <li><strong>arrival_time_hour<strong/></li>
    <li><strong>arrival_time_minute<strong/></li>
</ul>
<h3>Drop the <strong>actual_offblock_time</strong> and <strong>arrival_time</strong> columns</h3>

In [8]:
submission_set_df['actual_offblock_time'] = pd.to_datetime(submission_set_df['actual_offblock_time'])
submission_set_df['actual_offblock_time_hour_minute'] = submission_set_df['actual_offblock_time'].dt.strftime('%H:%M')
submission_set_df['actual_offblock_time_hour'] = submission_set_df['actual_offblock_time'].dt.hour
submission_set_df['actual_offblock_time_minute'] = submission_set_df['actual_offblock_time'].dt.minute

submission_set_df['arrival_time'] = pd.to_datetime(submission_set_df['arrival_time'])
submission_set_df['arrival_time_hour_minute'] = submission_set_df['arrival_time'].dt.strftime('%H:%M')
submission_set_df['arrival_time_hour'] = submission_set_df['arrival_time'].dt.hour
submission_set_df['arrival_time_minute'] = submission_set_df['arrival_time'].dt.minute

In [9]:
display(submission_set_df[['flight_id', 
                          'actual_offblock_time', 'actual_offblock_time_hour_minute', 'actual_offblock_time_hour', 'actual_offblock_time_minute',
                          'arrival_time', 'arrival_time_hour_minute', 'arrival_time_hour', 'arrival_time_minute']])

,flight_id,actual_offblock_time,actual_offblock_time_hour_minute,actual_offblock_time_hour,actual_offblock_time_minute,arrival_time,arrival_time_hour_minute,arrival_time_hour,arrival_time_minute
0,248753821,2022-01-01 09:44:00+00:00,09:44,9,44,2022-01-01 12:48:33+00:00,12:48,12,48
1,248753822,2022-01-01 09:45:00+00:00,09:45,9,45,2022-01-01 17:49:51+00:00,17:49,17,49
2,248754498,2022-01-01 01:52:00+00:00,01:52,1,52,2022-01-01 09:55:16+00:00,09:55,9,55
3,248757623,2022-01-01 08:20:00+00:00,08:20,8,20,2022-01-01 11:06:08+00:00,11:06,11,6
4,248763603,2022-01-01 11:01:00+00:00,11:01,11,1,2022-01-01 13:00:43+00:00,13:00,13,0
...,...,...,...,...,...,...,...,...,...
105954,258066302,2022-12-31 09:36:00+00:00,09:36,9,36,2022-12-31 13:12:17+00:00,13:12,13,12
105955,258068609,2022-12-31 09:49:00+00:00,09:49,9,49,2022-12-31 19:38:26+00:00,19:38,19,38
105956,258068876,2022-12-31 09:25:00+00:00,09:25,9,25,2022-12-31 12:24:24+00:00,12:24,12,24
105957,258064675,2022-12-31 10:04:21+00:00,10:04,10,4,2022-12-31 10:55:35+00:00,10:55,10,55
105958,258058370,2022-12-31 09:40:00+00:00,09:40,9,40,2022-12-31 12:28:00+00:00,12:28,12,28

In [10]:
submission_set_df = submission_set_df.drop(columns=['actual_offblock_time', 'arrival_time'])

<h3>Construct/Order submission set</h3>

In [11]:
submission_set_df = submission_set_df[[
    'flight_id', 'month_day', 'month', 'day', 'actual_offblock_time_hour_minute', 'actual_offblock_time_hour', 'actual_offblock_time_minute',
    'adep', 'country_code_adep', 'arrival_time_hour_minute', 'arrival_time_hour', 'arrival_time_minute', 'ades', 'country_code_ades',
    'aircraft_type', 'wtc', 'airline', 'flight_duration', 'taxiout_time', 'flown_distance', 'tow'
]]

In [12]:
display(submission_set_df)

,flight_id,month_day,month,day,actual_offblock_time_hour_minute,actual_offblock_time_hour,actual_offblock_time_minute,adep,country_code_adep,arrival_time_hour_minute,...,arrival_time_minute,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,01-01,1,1,09:44,9,44,LTFJ,TR,12:48,...,48,LFLL,FR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,NaN
1,248753822,01-01,1,1,09:45,9,45,EBBR,BE,17:49,...,49,KJFK,US,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,NaN
2,248754498,01-01,1,1,01:52,1,52,KMIA,US,09:55,...,55,EGLL,GB,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,NaN
3,248757623,01-01,1,1,08:20,8,20,EGCN,GB,11:06,...,6,LEAL,ES,B38M,M,3922524069809ac4326134429751e26f,156,10,986,NaN
4,248763603,01-01,1,1,11:01,11,1,EIDW,IE,13:00,...,0,LFLL,FR,A320,M,a73f82288988b79be490c6322f4c32ed,105,15,686,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,12-31,12,31,09:36,9,36,LTFJ,TR,13:12,...,12,EKCH,DK,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,1199,NaN
105955,258068609,12-31,12,31,09:49,9,49,LOWW,AT,19:38,...,38,KIAD,US,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,3937,NaN
105956,258068876,12-31,12,31,09:25,9,25,LTFM,TR,12:24,...,24,LSZH,CH,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,NaN
105957,258064675,12-31,12,31,10:04,10,4,EHAM,NL,10:55,...,55,EDDF,DE,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,NaN
105958,258058370,12-31,12,31,09:40,9,40,UBBB,AZ,12:28,...,28,LTFM,TR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,NaN

In [13]:
df_filtered = submission_set_df.loc[:, submission_set_df.columns != 'tow']
rows_with_nan = df_filtered[df_filtered.isna().any(axis=1)]
display(rows_with_nan)

Empty DataFrame
Columns: [flight_id, month_day, month, day, actual_offblock_time_hour_minute, actual_offblock_time_hour, actual_offblock_time_minute, adep, country_code_adep, arrival_time_hour_minute, arrival_time_hour, arrival_time_minute, ades, country_code_ades, aircraft_type, wtc, airline, flight_duration, taxiout_time, flown_distance]
Index: []

In [14]:
submission_set_df.to_csv("./data/processed_submission_set.csv", index=False)
print(f"./data/processed_submission_set.csv is saved!")

./data/processed_submission_set.csv is saved!