In [1]:
import pandas as pd

In [2]:
final_submission_set_df = pd.read_csv('../PRC_data/final_submission_set.csv')

In [3]:
display(final_submission_set_df)

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,2022-01-01,3b3de0f3ad0ee192513995c02f7bf7cf,LTFJ,Istanbul Sabiha Gokcen,TR,LFLL,Lyon,FR,2022-01-01T09:44:00Z,2022-01-01T12:48:33Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,NaN
1,248753822,2022-01-01,e06dd03d4a879ca37d9e18c1bd7cad16,EBBR,Brussels,BE,KJFK,New York JFK,US,2022-01-01T09:45:00Z,2022-01-01T17:49:51Z,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,NaN
2,248754498,2022-01-01,2d3b1c962c78c4ebeef11bcd51b9e94c,KMIA,Miami,US,EGLL,London Heathrow,GB,2022-01-01T01:52:00Z,2022-01-01T09:55:16Z,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,NaN
3,248763650,2022-01-01,35f7721f68bf85128195547ae38b0f04,EBBR,Brussels,BE,LEAL,Alicante,ES,2022-01-01T12:02:00Z,2022-01-01T14:13:56Z,B738,M,f53c55b5cf0cbb3be755bf50df6fa52d,123,9,802,NaN
4,248763651,2022-01-01,eb56918bee9bc5204624186b9bcc4391,LSZH,Zurich,CH,LFPG,Paris Charles de Gaulle,FR,2022-01-01T12:03:00Z,2022-01-01T13:09:44Z,BCS3,M,2d5def0a5a844b343ba1b7cc9cb28fa9,56,11,292,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158144,258068876,2022-12-31,c9fca302ca2e28acab0eb0bb1b46f11b,LTFM,iGA Istanbul,TR,LSZH,Zurich,CH,2022-12-31T09:25:00Z,2022-12-31T12:24:24Z,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,NaN
158145,258064675,2022-12-31,00f96ad0e382476649574ba044c764fc,EHAM,Amsterdam,NL,EDDF,Frankfurt,DE,2022-12-31T10:04:21Z,2022-12-31T10:55:35Z,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,NaN
158146,258065436,2022-12-31,87c552b7f6d9bbd16a66e95df761c7f2,LEBL,Barcelona,ES,KJFK,New York JFK,US,2022-12-31T09:34:00Z,2022-12-31T17:51:22Z,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,483,14,3426,NaN
158147,258058138,2022-12-31,2cd57e434494606c965bac87c024bda2,LIPE,Bologna,IT,LOWW,Vienna,AT,2022-12-31T09:37:00Z,2022-12-31T10:47:00Z,E195,M,5d407cb11cc29578cc3e292e743f5393,55,15,335,NaN
158148,258058370,2022-12-31,5f0c222c7f7ceff3fbe75c854cce74c9,UBBB,Baku,AZ,LTFM,iGA Istanbul,TR,2022-12-31T09:40:00Z,2022-12-31T12:28:00Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,NaN

<h3>Drop the columns <strong>callsign, name_adep, and name_ades<strong/></h3>

In [4]:
final_submission_set_df = final_submission_set_df.drop(columns=['callsign', 'name_adep', 'name_ades'])

<h3>Split the <strong>date</strong> column into</h3>
<ul>
    <li>month_day</li>
    <li>month</li>
    <li>day</li>
</ul>
<h3>Drop the <strong>date</strong> columns</h3>

In [5]:
final_submission_set_df['date'] = pd.to_datetime(final_submission_set_df['date'])
final_submission_set_df['month_day'] = final_submission_set_df['date'].dt.strftime('%m-%d')  # Format to get month and day together
final_submission_set_df['month'] = final_submission_set_df['date'].dt.month  # Extract the month
final_submission_set_df['day'] = final_submission_set_df['date'].dt.day  # Extract the day

In [6]:
display(final_submission_set_df[['flight_id', 'date', 'month_day', 'month', 'day']])

        flight_id       date month_day  month  day
0       248753821 2022-01-01     01-01      1    1
1       248753822 2022-01-01     01-01      1    1
2       248754498 2022-01-01     01-01      1    1
3       248763650 2022-01-01     01-01      1    1
4       248763651 2022-01-01     01-01      1    1
...           ...        ...       ...    ...  ...
158144  258068876 2022-12-31     12-31     12   31
158145  258064675 2022-12-31     12-31     12   31
158146  258065436 2022-12-31     12-31     12   31
158147  258058138 2022-12-31     12-31     12   31
158148  258058370 2022-12-31     12-31     12   31

[158149 rows x 5 columns]

In [7]:
final_submission_set_df = final_submission_set_df.drop(columns=['date'])

<h3>Split the <strong>actual_offblock_time</strong> and <strong>arrival_time</strong> columns into</h3>
<ul>
    <li><strong>actual_offblock_time_hour_minute<strong/></li>
    <li><strong>actual_offblock_time_hour<strong/></li>
    <li><strong>actual_offblock_time_minute<strong/></li>
    <li><strong>arrival_time_hour_minute<strong/></li>
    <li><strong>arrival_time_hour<strong/></li>
    <li><strong>arrival_time_minute<strong/></li>
</ul>
<h3>Drop the <strong>actual_offblock_time</strong> and <strong>arrival_time</strong> columns</h3>

In [8]:
final_submission_set_df['actual_offblock_time'] = pd.to_datetime(final_submission_set_df['actual_offblock_time'])
final_submission_set_df['actual_offblock_time_hour_minute'] = final_submission_set_df['actual_offblock_time'].dt.strftime('%H:%M')
final_submission_set_df['actual_offblock_time_hour'] = final_submission_set_df['actual_offblock_time'].dt.hour
final_submission_set_df['actual_offblock_time_minute'] = final_submission_set_df['actual_offblock_time'].dt.minute

final_submission_set_df['arrival_time'] = pd.to_datetime(final_submission_set_df['arrival_time'])
final_submission_set_df['arrival_time_hour_minute'] = final_submission_set_df['arrival_time'].dt.strftime('%H:%M')
final_submission_set_df['arrival_time_hour'] = final_submission_set_df['arrival_time'].dt.hour
final_submission_set_df['arrival_time_minute'] = final_submission_set_df['arrival_time'].dt.minute

In [9]:
display(final_submission_set_df[['flight_id', 
                          'actual_offblock_time', 'actual_offblock_time_hour_minute', 'actual_offblock_time_hour', 'actual_offblock_time_minute',
                          'arrival_time', 'arrival_time_hour_minute', 'arrival_time_hour', 'arrival_time_minute']])

,flight_id,actual_offblock_time,actual_offblock_time_hour_minute,actual_offblock_time_hour,actual_offblock_time_minute,arrival_time,arrival_time_hour_minute,arrival_time_hour,arrival_time_minute
0,248753821,2022-01-01 09:44:00+00:00,09:44,9,44,2022-01-01 12:48:33+00:00,12:48,12,48
1,248753822,2022-01-01 09:45:00+00:00,09:45,9,45,2022-01-01 17:49:51+00:00,17:49,17,49
2,248754498,2022-01-01 01:52:00+00:00,01:52,1,52,2022-01-01 09:55:16+00:00,09:55,9,55
3,248763650,2022-01-01 12:02:00+00:00,12:02,12,2,2022-01-01 14:13:56+00:00,14:13,14,13
4,248763651,2022-01-01 12:03:00+00:00,12:03,12,3,2022-01-01 13:09:44+00:00,13:09,13,9
...,...,...,...,...,...,...,...,...,...
158144,258068876,2022-12-31 09:25:00+00:00,09:25,9,25,2022-12-31 12:24:24+00:00,12:24,12,24
158145,258064675,2022-12-31 10:04:21+00:00,10:04,10,4,2022-12-31 10:55:35+00:00,10:55,10,55
158146,258065436,2022-12-31 09:34:00+00:00,09:34,9,34,2022-12-31 17:51:22+00:00,17:51,17,51
158147,258058138,2022-12-31 09:37:00+00:00,09:37,9,37,2022-12-31 10:47:00+00:00,10:47,10,47
158148,258058370,2022-12-31 09:40:00+00:00,09:40,9,40,2022-12-31 12:28:00+00:00,12:28,12,28

In [10]:
final_submission_set_df = final_submission_set_df.drop(columns=['actual_offblock_time', 'arrival_time'])

<h3>Construct/Order submission set</h3>

In [11]:
final_submission_set_df = final_submission_set_df[[
    'flight_id', 'month_day', 'month', 'day', 'actual_offblock_time_hour_minute', 'actual_offblock_time_hour', 'actual_offblock_time_minute',
    'adep', 'country_code_adep', 'arrival_time_hour_minute', 'arrival_time_hour', 'arrival_time_minute', 'ades', 'country_code_ades',
    'aircraft_type', 'wtc', 'airline', 'flight_duration', 'taxiout_time', 'flown_distance', 'tow'
]]

In [12]:
display(final_submission_set_df)

,flight_id,month_day,month,day,actual_offblock_time_hour_minute,actual_offblock_time_hour,actual_offblock_time_minute,adep,country_code_adep,arrival_time_hour_minute,...,arrival_time_minute,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,01-01,1,1,09:44,9,44,LTFJ,TR,12:48,...,48,LFLL,FR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,NaN
1,248753822,01-01,1,1,09:45,9,45,EBBR,BE,17:49,...,49,KJFK,US,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,NaN
2,248754498,01-01,1,1,01:52,1,52,KMIA,US,09:55,...,55,EGLL,GB,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,NaN
3,248763650,01-01,1,1,12:02,12,2,EBBR,BE,14:13,...,13,LEAL,ES,B738,M,f53c55b5cf0cbb3be755bf50df6fa52d,123,9,802,NaN
4,248763651,01-01,1,1,12:03,12,3,LSZH,CH,13:09,...,9,LFPG,FR,BCS3,M,2d5def0a5a844b343ba1b7cc9cb28fa9,56,11,292,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158144,258068876,12-31,12,31,09:25,9,25,LTFM,TR,12:24,...,24,LSZH,CH,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,NaN
158145,258064675,12-31,12,31,10:04,10,4,EHAM,NL,10:55,...,55,EDDF,DE,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,NaN
158146,258065436,12-31,12,31,09:34,9,34,LEBL,ES,17:51,...,51,KJFK,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,483,14,3426,NaN
158147,258058138,12-31,12,31,09:37,9,37,LIPE,IT,10:47,...,47,LOWW,AT,E195,M,5d407cb11cc29578cc3e292e743f5393,55,15,335,NaN
158148,258058370,12-31,12,31,09:40,9,40,UBBB,AZ,12:28,...,28,LTFM,TR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,NaN

In [14]:
df_filtered = final_submission_set_df.loc[:, final_submission_set_df.columns != 'tow']
rows_with_nan = df_filtered[df_filtered.isna().any(axis=1)]
display(rows_with_nan)

Empty DataFrame
Columns: [flight_id, month_day, month, day, actual_offblock_time_hour_minute, actual_offblock_time_hour, actual_offblock_time_minute, adep, country_code_adep, arrival_time_hour_minute, arrival_time_hour, arrival_time_minute, ades, country_code_ades, aircraft_type, wtc, airline, flight_duration, taxiout_time, flown_distance]
Index: []

In [15]:
final_submission_set_df.to_csv("./data/processed_final_submission_set.csv", index=False)
print(f"./data/processed_final_submission_set.csv is saved!")

./data/processed_final_submission_set.csv is saved!