<h3>Encoding</h3>

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
challenge_set = pd.read_csv('../data/challenge_set.csv')

# Split date into 2 columns, year is not important since it is the same in the entire dataset 2022
challenge_set['date'] = pd.to_datetime(challenge_set['date'])
challenge_set['month-day'] = challenge_set['date'].dt.strftime('%m-%d')
challenge_set['month'] = challenge_set['date'].dt.strftime('%m').astype(int)
challenge_set['day_in_month'] = challenge_set['date'].dt.strftime('%d').astype(int)

# Convert the column to datetime type
challenge_set['actual_offblock_time'] = pd.to_datetime(challenge_set['actual_offblock_time'])
# Extract hour, minute, and create combined hour:minute column
challenge_set['actual_offblock_time_hour'] = challenge_set['actual_offblock_time'].dt.hour
challenge_set['actual_offblock_time_minute'] = challenge_set['actual_offblock_time'].dt.minute
challenge_set['actual_offblock_time_hour_minute'] = challenge_set['actual_offblock_time'].dt.strftime('%H:%M')

# Convert the column to datetime type
challenge_set['arrival_time'] = pd.to_datetime(challenge_set['arrival_time'])
# Extract hour, minute, and create combined hour:minute column
challenge_set['arrival_time_hour'] = challenge_set['arrival_time'].dt.hour
challenge_set['arrival_time_minute'] = challenge_set['arrival_time'].dt.minute
challenge_set['arrival_time_hour_minute'] = challenge_set['arrival_time'].dt.strftime('%H:%M')

challenge_features = challenge_set[['flight_id', 'adep', 'country_code_adep', 'ades', 'country_code_ades', 'aircraft_type', 'wtc', 'airline', 
                                    'flight_duration', 'taxiout_time', 'flown_distance', 'month-day', 'month', 'day_in_month', 'tow', 
                                    'actual_offblock_time_hour', 'actual_offblock_time_minute', 'actual_offblock_time_hour_minute', 
                                    'arrival_time_hour', 'arrival_time_minute', 'arrival_time_hour_minute']]
display(challenge_features)

submission_set = pd.read_csv('../data/submission_set.csv')

# Split date into 2 columns, year is not important since it is the same in the entire dataset 2022
submission_set['date'] = pd.to_datetime(submission_set['date'])
submission_set['month-day'] = submission_set['date'].dt.strftime('%m-%d')
submission_set['month'] = submission_set['date'].dt.strftime('%m').astype(int)
submission_set['day_in_month'] = submission_set['date'].dt.strftime('%d').astype(int)

# Convert the column to datetime type
submission_set['actual_offblock_time'] = pd.to_datetime(submission_set['actual_offblock_time'])
# Extract hour, minute, and create combined hour:minute column
submission_set['actual_offblock_time_hour'] = submission_set['actual_offblock_time'].dt.hour
submission_set['actual_offblock_time_minute'] = submission_set['actual_offblock_time'].dt.minute
submission_set['actual_offblock_time_hour_minute'] = submission_set['actual_offblock_time'].dt.strftime('%H:%M')

# Convert the column to datetime type
submission_set['arrival_time'] = pd.to_datetime(submission_set['arrival_time'])
# Extract hour, minute, and create combined hour:minute column
submission_set['arrival_time_hour'] = submission_set['arrival_time'].dt.hour
submission_set['arrival_time_minute'] = submission_set['arrival_time'].dt.minute
submission_set['arrival_time_hour_minute'] = submission_set['arrival_time'].dt.strftime('%H:%M')

submission_features = submission_set[['flight_id', 'adep', 'country_code_adep', 'ades', 'country_code_ades', 'aircraft_type', 'wtc', 'airline', 
                                      'flight_duration', 'taxiout_time', 'flown_distance', 'month-day', 'month', 'day_in_month', 'tow', 
                                      'actual_offblock_time_hour', 'actual_offblock_time_minute', 'actual_offblock_time_hour_minute', 
                                      'arrival_time_hour', 'arrival_time_minute', 'arrival_time_hour_minute']]
display(submission_features)

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,month-day,month,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute
0,248763780,EGLL,GB,EICK,IE,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,...,01-01,1,1,54748.000000,13,46,13:46,15,4,15:04
1,248760618,LEBL,ES,KMIA,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,...,01-01,1,1,185441.000000,9,55,09:55,19,37,19:37
2,248753824,ESSA,SE,KORD,US,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,...,01-01,1,1,230396.000000,9,39,09:39,19,8,19:08
3,248753852,LSZH,CH,KPHL,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,...,01-01,1,1,157615.000000,11,4,11:04,19,32,19:32
4,248755934,EIDW,IE,EGLL,GB,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,...,01-01,1,1,70318.447226,12,36,12:36,13,44,13:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369008,258058361,LFPG,FR,KMIA,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,545,21,...,12-31,12,31,163438.000000,9,38,09:38,19,3,19:03
369009,258071247,LTFM,TR,EDDB,DE,A21N,M,6351ec1b849adacc0cbb3b1313d8d39b,158,25,...,12-31,12,31,78707.000000,9,27,09:27,12,29,12:29
369010,258059152,EDDL,DE,EIDW,IE,A320,M,a73f82288988b79be490c6322f4c32ed,99,11,...,12-31,12,31,62942.750000,9,52,09:52,11,41,11:41
369011,258072276,LFPG,FR,EIDW,IE,A21N,M,a73f82288988b79be490c6322f4c32ed,84,12,...,12-31,12,31,72611.161024,9,37,09:37,11,13,11:13
369012,258069969,LEMD,ES,KJFK,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,453,16,...,12-31,12,31,195373.000000,9,38,09:38,17,26,17:26

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,month-day,month,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute
0,248753821,LTFJ,TR,LFLL,FR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,...,01-01,1,1,NaN,9,44,09:44,12,48,12:48
1,248753822,EBBR,BE,KJFK,US,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,...,01-01,1,1,NaN,9,45,09:45,17,49,17:49
2,248754498,KMIA,US,EGLL,GB,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,...,01-01,1,1,NaN,1,52,01:52,9,55,09:55
3,248757623,EGCN,GB,LEAL,ES,B38M,M,3922524069809ac4326134429751e26f,156,10,...,01-01,1,1,NaN,8,20,08:20,11,6,11:06
4,248763603,EIDW,IE,LFLL,FR,A320,M,a73f82288988b79be490c6322f4c32ed,105,15,...,01-01,1,1,NaN,11,1,11:01,13,0,13:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,LTFJ,TR,EKCH,DK,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,...,12-31,12,31,NaN,9,36,09:36,13,12,13:12
105955,258068609,LOWW,AT,KIAD,US,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,...,12-31,12,31,NaN,9,49,09:49,19,38,19:38
105956,258068876,LTFM,TR,LSZH,CH,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,...,12-31,12,31,NaN,9,25,09:25,12,24,12:24
105957,258064675,EHAM,NL,EDDF,DE,A320,M,f502877cab405652cf0dd70c2213e730,42,9,...,12-31,12,31,NaN,10,4,10:04,10,55,10:55
105958,258058370,UBBB,AZ,LTFM,TR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,...,12-31,12,31,NaN,9,40,09:40,12,28,12:28

In [3]:
# Append df2 to df1
df_combined = pd.concat([challenge_features, submission_features], ignore_index=True)

# Reset the index
df_combined.reset_index(drop=True, inplace=True)

display(df_combined)

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,month-day,month,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute
0,248763780,EGLL,GB,EICK,IE,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,...,01-01,1,1,54748.000000,13,46,13:46,15,4,15:04
1,248760618,LEBL,ES,KMIA,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,...,01-01,1,1,185441.000000,9,55,09:55,19,37,19:37
2,248753824,ESSA,SE,KORD,US,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,...,01-01,1,1,230396.000000,9,39,09:39,19,8,19:08
3,248753852,LSZH,CH,KPHL,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,...,01-01,1,1,157615.000000,11,4,11:04,19,32,19:32
4,248755934,EIDW,IE,EGLL,GB,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,...,01-01,1,1,70318.447226,12,36,12:36,13,44,13:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474967,258066302,LTFJ,TR,EKCH,DK,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,...,12-31,12,31,NaN,9,36,09:36,13,12,13:12
474968,258068609,LOWW,AT,KIAD,US,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,...,12-31,12,31,NaN,9,49,09:49,19,38,19:38
474969,258068876,LTFM,TR,LSZH,CH,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,...,12-31,12,31,NaN,9,25,09:25,12,24,12:24
474970,258064675,EHAM,NL,EDDF,DE,A320,M,f502877cab405652cf0dd70c2213e730,42,9,...,12-31,12,31,NaN,10,4,10:04,10,55,10:55
474971,258058370,UBBB,AZ,LTFM,TR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,...,12-31,12,31,NaN,9,40,09:40,12,28,12:28

In [4]:
unique_aircraft_type_values = df_combined['aircraft_type'].unique()
print(unique_aircraft_type_values)

# Calculate min and max takeoff weights for each aircraft type
df_combined['min_tow'] = df_combined.groupby('aircraft_type')['tow'].transform('min')
df_combined['max_tow'] = df_combined.groupby('aircraft_type')['tow'].transform('max')

display(df_combined)

['A320' 'B772' 'A333' 'B788' 'A21N' 'A20N' 'B738' 'B789' 'A321' 'CRJ9'
 'A319' 'B77W' 'BCS3' 'AT76' 'E190' 'B763' 'BCS1' 'E195' 'B38M' 'B739'
 'B737' 'A359' 'A332' 'B39M' 'A343' 'A310' 'B752' 'B773' 'C56X' 'E290']

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute,min_tow,max_tow
0,248763780,EGLL,GB,EICK,IE,A320,M,a73f82288988b79be490c6322f4c32ed,61,18,...,1,54748.000000,13,46,13:46,15,4,15:04,44861.0,76844.0
1,248760618,LEBL,ES,KMIA,US,B772,H,5543e4dc327359ffaf5b9c0e6faaf0e1,570,13,...,1,185441.000000,9,55,09:55,19,37,19:37,150327.0,287509.0
2,248753824,ESSA,SE,KORD,US,A333,H,8be5c854fd664bcb97fb543339f74770,554,15,...,1,230396.000000,9,39,09:39,19,8,19:08,134373.0,241487.0
3,248753852,LSZH,CH,KPHL,US,B788,H,5543e4dc327359ffaf5b9c0e6faaf0e1,497,11,...,1,157615.000000,11,4,11:04,19,32,19:32,118668.0,227191.0
4,248755934,EIDW,IE,EGLL,GB,A21N,M,a73f82288988b79be490c6322f4c32ed,55,14,...,1,70318.447226,12,36,12:36,13,44,13:44,56806.0,95831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474967,258066302,LTFJ,TR,EKCH,DK,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,...,31,NaN,9,36,09:36,13,12,13:12,45835.0,81835.0
474968,258068609,LOWW,AT,KIAD,US,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,...,31,NaN,9,49,09:49,19,38,19:38,96542.0,186611.0
474969,258068876,LTFM,TR,LSZH,CH,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,...,31,NaN,9,25,09:25,12,24,12:24,51694.0,88682.0
474970,258064675,EHAM,NL,EDDF,DE,A320,M,f502877cab405652cf0dd70c2213e730,42,9,...,31,NaN,10,4,10:04,10,55,10:55,44861.0,76844.0
474971,258058370,UBBB,AZ,LTFM,TR,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,...,31,NaN,9,40,09:40,12,28,12:28,43724.0,78816.0

In [5]:
def encode(df: pd.DataFrame, categorical_columns: list[str]) -> pd.DataFrame:
    encoded_df = df.copy()
    label_encoder = LabelEncoder()

    for column in encoded_df.columns:
        if column in categorical_columns:     
            encoded_df[column] = label_encoder.fit_transform(df[column])
    
    return encoded_df

categorical_columns = [
    "adep",
    "country_code_adep",
    "ades",
    "country_code_ades",
    "aircraft_type",
    "wtc",
    "airline",
    "month-day",
    "actual_offblock_time_hour_minute",
    "arrival_time_hour_minute"
]

encoded_df = encode(df=df_combined, categorical_columns=categorical_columns)

display(encoded_df)

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute,min_tow,max_tow
0,248763780,69,37,79,34,4,1,20,61,18,...,1,54748.000000,13,46,826,15,4,904,44861.0,76844.0
1,248760618,216,33,165,78,18,0,10,570,13,...,1,185441.000000,9,55,595,19,37,1177,150327.0,287509.0
2,248753824,137,88,168,78,7,0,18,554,15,...,1,230396.000000,9,39,579,19,8,1148,134373.0,241487.0
3,248753852,338,19,169,78,21,0,10,497,11,...,1,157615.000000,11,4,664,19,32,1172,118668.0,227191.0
4,248755934,92,44,58,27,1,1,20,55,14,...,1,70318.447226,12,36,756,13,44,824,56806.0,95831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474967,258066302,384,96,85,20,11,1,14,201,15,...,31,NaN,9,36,576,13,12,792,45835.0,81835.0
474968,258068609,321,5,160,78,17,0,13,575,14,...,31,NaN,9,49,589,19,38,1178,96542.0,186611.0
474969,258068876,385,96,309,14,5,1,14,154,25,...,31,NaN,9,25,565,12,24,744,51694.0,88682.0
474970,258064675,85,73,18,19,4,1,27,42,9,...,31,NaN,10,4,604,10,55,655,44861.0,76844.0
474971,258058370,439,7,337,75,14,1,14,158,10,...,31,NaN,9,40,580,12,28,748,43724.0,78816.0

In [6]:
def separate_data(original_df: pd.DataFrame, index: int):
    encoded_challenge_set = original_df.iloc[:index].reset_index(drop=True)
    encoded_submission_set = original_df.iloc[index:].reset_index(drop=True)
    return encoded_challenge_set, encoded_submission_set

encoded_challenge_set, encoded_submission_set = separate_data(original_df=encoded_df, index=len(challenge_features))

display(encoded_challenge_set)

display(encoded_submission_set)

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute,min_tow,max_tow
0,248763780,69,37,79,34,4,1,20,61,18,...,1,54748.000000,13,46,826,15,4,904,44861.0,76844.0
1,248760618,216,33,165,78,18,0,10,570,13,...,1,185441.000000,9,55,595,19,37,1177,150327.0,287509.0
2,248753824,137,88,168,78,7,0,18,554,15,...,1,230396.000000,9,39,579,19,8,1148,134373.0,241487.0
3,248753852,338,19,169,78,21,0,10,497,11,...,1,157615.000000,11,4,664,19,32,1172,118668.0,227191.0
4,248755934,92,44,58,27,1,1,20,55,14,...,1,70318.447226,12,36,756,13,44,824,56806.0,95831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369008,258058361,253,36,165,78,21,0,10,545,21,...,31,163438.000000,9,38,578,19,3,1143,118668.0,227191.0
369009,258071247,385,96,15,19,1,1,14,158,25,...,31,78707.000000,9,27,567,12,29,749,56806.0,95831.0
369010,258059152,30,26,80,34,4,1,20,99,11,...,31,62942.750000,9,52,592,11,41,701,44861.0,76844.0
369011,258072276,253,36,80,34,1,1,20,84,12,...,31,72611.161024,9,37,577,11,13,673,56806.0,95831.0
369012,258069969,222,33,162,78,18,0,10,453,16,...,31,195373.000000,9,38,578,17,26,1046,150327.0,287509.0

,flight_id,adep,country_code_adep,ades,country_code_ades,aircraft_type,wtc,airline,flight_duration,taxiout_time,...,day_in_month,tow,actual_offblock_time_hour,actual_offblock_time_minute,actual_offblock_time_hour_minute,arrival_time_hour,arrival_time_minute,arrival_time_hour_minute,min_tow,max_tow
0,248753821,384,96,216,26,14,1,14,170,15,...,1,NaN,9,44,584,12,48,768,43724.0,78816.0
1,248753822,17,11,162,78,7,0,22,470,15,...,1,NaN,9,45,585,17,49,1069,134373.0,241487.0
2,248754498,190,99,58,27,20,0,10,473,10,...,1,NaN,1,52,112,9,55,595,181041.0,351327.0
3,248757623,61,37,189,24,11,1,6,156,10,...,1,NaN,8,20,500,11,6,666,45835.0,81835.0
4,248763603,92,44,216,26,4,1,20,105,15,...,1,NaN,11,1,661,13,0,780,44861.0,76844.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,384,96,85,20,11,1,14,201,15,...,31,NaN,9,36,576,13,12,792,45835.0,81835.0
105955,258068609,321,5,160,78,17,0,13,575,14,...,31,NaN,9,49,589,19,38,1178,96542.0,186611.0
105956,258068876,385,96,309,14,5,1,14,154,25,...,31,NaN,9,25,565,12,24,744,51694.0,88682.0
105957,258064675,85,73,18,19,4,1,27,42,9,...,31,NaN,10,4,604,10,55,655,44861.0,76844.0
105958,258058370,439,7,337,75,14,1,14,158,10,...,31,NaN,9,40,580,12,28,748,43724.0,78816.0

In [7]:
def save_dataframe(path: str, df: pd.DataFrame) -> None:
    df.to_csv(path, index=False)
    print(f"{path} is saved!")

save_dataframe(path="../data/encoded_challenge_set.csv", df=encoded_challenge_set)
save_dataframe(path="../data/encoded_submission_set.csv", df=encoded_submission_set)

../data/encoded_challenge_set.csv is saved!
../data/encoded_submission_set.csv is saved!